<div class="container single-form-container">

    <div class="page-title">
        <h3>パスワード設定</h3>
        <p class="help-block">
            <span>このアカウントのパスワードを変更します。新しいパスワードは次のログインから適用されます。</span>
        </p>
    </div>

    <form class="form-horizontal" name="form" role="form" novalidate ng-submit="changePassword()">
        <section class="form-group" ng-class="{'has-error': form.password.$invalid && form.password.$dirty}">
            <label for="password" class="col-sm-3 control-label">新しいパスワード</label>
            <div class="col-sm-9">
                <input id="password" name="password" type="password" class="form-control" placeholder="新しいパスワード"
                        ng-model="password" ng-minlength="5" ng-maxlength="50" ng-required="true">
                <div ng-show="form.password.$dirty && form.password.$invalid">
                    <p class="help-block" ng-show="form.password.$error.required">
                        新しいパスワードを入力してください。
                    </p>
                    <p class="help-block" ng-show="form.password.$error.minlength">
                        新しいパスワードは 5 文字以上で入力してください。
                    </p>
                    <p class="help-block" ng-show="form.password.$error.maxlength">
                        新しいパスワードは 50 文字以内で入力してください。
                    </p>
                </div>
                <password-strength-bar password-to-check="password"></password-strength-bar>
            </div>
        </section>
        <section class="form-group" ng-class="{'has-error': form.confirmPassword.$invalid && form.confirmPassword.$dirty}">
            <label for="confirmPassword" class="col-sm-3 control-label">確認用パスワード</label>
            <div class="col-sm-9">
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="確認用パスワード"
                        ng-model="confirmPassword" ng-minlength="5" ng-maxlength="50" ng-required="true">
                <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                    <p class="help-block" ng-show="form.confirmPassword.$error.required">
                        確認用パスワードを入力してください。
                    </p>
                    <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                        確認用パスワードは 5 文字以上で入力してください。
                    </p>
                    <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                        確認用パスワードは 50 文字以内で入力してください。
                    </p>
                </div>
            </div>
        </section>
        <section class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">保存する</button>
            </div>
        </section>
    </form>

</div>
