$theme-color: #5bc0de;

// base definitions
$gray-base: #000;
$brand-primary: $theme-color;
$font-size-base: 14px;
$font-family-sans-serif: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

// decoration text definitions
$text-color: lighten($gray-base, 40.0%);
$link-color: darken(#5bc0de, 13.5%);
$headings-color: lighten($gray-base, 13.5%);

// form definitions
$input-border-focus: $theme-color;

// button definitions
$btn-info-color: #fff;
$btn-info-bg: lighten($gray-base, 60%);
$btn-info-border: darken($btn-info-bg, 10%);

// header navigation definitions
$navbar-height: 40px;
$navbar-margin-bottom: 0px;
$navbar-default-bg: $theme-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-brand-color: #ffffff;

$dropdown-link-active-bg: $navbar-default-bg;


// custom variables
$transition-all: all .2s ease-out 0s;
