//$theme-color: darken(#5bc0de, 10%);
$theme-color: #5bc0de;

$font-family-sans-serif: "Roboto", Arial, Helvetica, sans-serif;

$gray-base: #000000;
$brand-primary: $theme-color;
$link-color: darken(#5bc0de, 13.5%);

$text-color: lighten($gray-base, 40.0%);
$headings-color: lighten($gray-base, 13.5%);
$input-border-focus: $theme-color;

$navbar-height: 40px;
$navbar-margin-bottom: 0px;
$navbar-default-bg: $theme-color;
//$navbar-default-color: #ffffff;
//$navbar-defalut-link-color: #ffffff;
//$navbar-default-link-hover-color: $base-text-color - 60;
//$navbar-default-link-active-color: darken($base-text-color, 5%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-brand-color: #ffffff;

$dropdown-link-active-bg: $navbar-default-bg;

//$hr-border: darken($base-color, 10%);


// custom variables
$transition-all: all .2s ease-out 0s;
