<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><span th:text="${invitedUser.username}"/> 様</p>
    <p>
        <span th:text="${user.lastName}"/> <span th:text="${user.firstName}"/> 様から <span th:text="${clinic.name}"/> のダッシュボードへの招待がありました。<br/>
        petical.io にアクセスして、招待を承認してください。<br/>
    </p>
    <p>
        招待を承認する際に、以下のキーを入力する必要があります。<br/>
        アクティベーションキー：<span th:text="${activationKey}"/>
    </p>
    <hr/>
    <p>
        ペット中心のクラウドコミュニティ　Petical.io<br/>
        https://petical.io/
    </p>
</body>
</html>
